{% extends "layout.html" %} {% block content %}
<div class="row">
  <div class="col-md-6">
    <form action="/weather" method="POST">
      <div class="form-group mt-4">
        <select class="form-select" name="outlook" required>
          <option selected>Select Outlook</option>
          <option value="sunny">Sunny</option>
          <option value="overcast">Overcast</option>
          <option value="rainy">Rainy</option>
        </select>
      </div>
      <div class="form-group mt-4">
        <select class="form-select" name="temprature" required>
          <option selected>Select Temprature</option>
          <option value="cool">Cool</option>
          <option value="hot">Hot</option>
          <option value="mild">Mild</option>
        </select>
      </div>
      <div class="form-group mt-4">
        <select class="form-select" name="humidity" required>
          <option selected>Select Humidity</option>
          <option value="high">High</option>
          <option value="normal">Normal</option>
        </select>
      </div>
      <div class="form-group mt-4">
        <select class="form-select" name="windy" required>
          <option selected>Is Windy</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Predict</button>
    </form>
  </div>
</div>
<h2 class="text-center mt-4 fw-bold {{style}}">{{result}}</h2>

{% endblock %}
